body {
    background-color: #1abc9c;
    color: #fff;
   }
   
   #time {
       font-size: 2rem;
       font-weight: bold;
       text-align: center;
   }
   
   .btn {
       width: 100px !important;
       margin-top: 3px;
       display: block;
       font-weight: 400;
       text-align: center;
       border: 1px solid transparent;
       padding: .375rem .75rem;
       font-size: 1rem;
       line-height: 1.5;
       border-radius: .25rem;
       color: #343a40;
       background-color: transparent;
       background-image: none;
       border-color: #343a40;
   }
   
   #div-btn {
       text-align: center;
   }
   
   #div-volume {
       margin-top: 5px;
       text-align: center;
   }